// 변수
// -------------색상
$bg1-light:#eee; //header,card,q&a 배경
$bg3-dark:#222; //bnr,btn,footer 배경
$font-color-bk:#000; 
$font-color-wh:#fff;
$page-disable:#ccc; //페이지번호 비활성화
$page-active:#fff; //페이지번호 활성화
//---여백
$padding50:50px 0; //변수는 값만 넣어줌
// 재사용 규칙(Mixins) 
//@Mixin 생성 규칙명
//@include 호출 규칙명
@mixin layout {//컨텐츠 크기 가운데 정렬
    margin:0 auto;
    width: 1200px;
}
@mixin flex-row-between {
    display:flex; flex-flow:row-wrap;
    justify-content: space-between; align-items:center;
}
// 실행
#header_bg {
    background-color:$bg1-light;
    header {
        @include layout;
        @include flex-row-between;
        height: 70px;
        h1{a{img{}}}
        nav{
            a{
                margin-left:16px;
            }
            a:first-child {margin:0;}
        }
    }//e:header
}//s:header
#slide_wrap {
    position:relative;
    @include layout;
    .slide_container {
        .slide {display:none;}
        .slide1 {display:block;}
        .slide2 {}
        .slide3 {}
        .slide4 {}
    }//e:slide_container
    .prev,.next {position:absolute;}
    .prev { top:45%; left:20px;}
    .next { top:45%; right:20px;}
    .pagenation {
        text-align:center;
        position:absolute;
        left:0; bottom:10%; width:100%;
        a {
            width:16px; height:16px;
            display:inline-block;
            border-radius:50%;
            text-indent:-9999px;
            background:$page-disable;
            margin-right:10px;
        }
        a.active {
            background:$page-active;
        }
    }
}//e:slide_wrap
#gallery_wrap {
    padding:$padding50;
    @include flex-row-between;
    @include layout;
    .gallery {
        width:100px; height:100px;
        img {width:100%;}
    }
    .g5 {width:200px; height:200px;}
}
#bnr_wrap {
    padding:$padding50;
    text-align:center;
    background: #222;
    span{color:$font-color-wh;}
}
#card_wrap {
    padding:40px 0;
    @include flex-row-between;
    @include layout;
    .card {
        width:23.5%; 
        padding:30px 20px;
        background:$bg1-light;    
        * {padding-bottom:20px; line-height:1.3;}
        .photo {margin:0 auto;
            img {width:100%;}
            width:200px;
        }
        h2 {padding-top:20px;}
        p {padding-bottom:none;}
    }
}
#qa_wrap {
    @include layout;
    h2{font-size:1.375rem;}
    #qaFrm {
        fieldset {
            * {
                padding:10px 10px;
                background: $bg1-light; 
                margin-top:16px;
                border:none;
            }
            display:flex;
            flex-flow:column wrap;
            justify-content: space-between;
            input {height:65px;}
            input[name$=id] {}
            input[name$=number] {}
            #user_qa {
                height:200px;
            }
            #qa_btn {
                margin:0;
                height:75px;
                margin-bottom:75px;
                color:$font-color-wh;
                background: $bg3-dark;
            }
        }
    }
}
footer {
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    color:$font-color-wh;
    text-align: center;
    background:$bg3-dark;
    height:200px;
}